@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

@font-face {
    font-family: 'Lemon/Milk light';
    src:
        local('Lemon Milk Light'),
        local('Lemon Milk Light'),
        url('LemonMilklight.otf');
    }
h1,h2,h3,h4,h5,p,span{
    margin-block: 0;
    margin: 0 ;
    padding: 0;
}

body {
    scroll-behavior: smooth;
    font-family: "lemon/Milk light";
    margin: 0;
    background-color:#FBF8EF;
    letter-spacing: 1.5px;
}

/*
*/

.main {
    top: 50%;
    background-image: url("final.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}
.about{
    background-image: url("desktop-about-01.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.events{
    background-image: url("desktop-events-01.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
}
/*desktop media query*/
@media only screen and (min-width: 768px) {
.h-image{
    width: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: -30%;
    transform: translate(-30%, -30%)
}
.about{
    height:800px;
}
.m-abtext{
    display: none;
}
.events{
    height: 650px;
}
.entries{
    width: 50%;
}
}

/*Mobile media query*/

@media only screen and (max-width: 600px) {
    .nav-desktop {
        display: none;
    }
    .h-image{
        width: 70%;
        position: absolute;
        top: 35%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -35%)
    }
    .main {
        background-image: url("phonebeta-final.svg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 0;
        padding: 20px 0 0 0;
    }
    .about{
        background-image: url("about-back-final-01.svg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
      
    }
    .events{
        background-image: url("events-section-01.svg");
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
      
    }
    .about{
        height:570px;
    }
    .row{
        display: none;
    }

   
}
/* media queries for 16:9 mobile phones*/
@media only screen and (max-width:360px){
    .about{
        height: 500px !important;
    }
    .about .ab-text{
        font-size: 15px !important;
    }
    .row{
        display: none;
    }
}

.h-image{
   
}

ul {
    margin: 0;
    display: inline;
    list-style-type: none;
}

.nav-desktop li {
    display: inline-block;
    padding: 2px 10px 2px 10px;
}

.nav-desktop {
    float:right;
    background-color:#FBF8EF;
    font-weight: 700;
    color: #353E4A;
    font-size: 23px;
    padding: 10px 10px 10px 0;
}

.nav-desktop li:hover {
    color: rgb(14, 126, 201);
    cursor: pointer;
}


a {
    text-decoration: none;
    color: unset;
}

/* the scroll top code*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #B4E55C;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    box-shadow:-1px 1px #6d6c6c;
}

#myBtn:hover {
    background-color: #cff588;
    box-shadow: -2px 1px 3px #949393;

}

/* css grid*/
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row{
    padding-top: 100px;

  }
  [class*="col-"] {
    float: right;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  